@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  
}
/* General Styles */
.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
}

/* Landing Page Styles */
.landing-page {
  height: 130vh;
  background-size: cover;
  background-position: center;
}

/* Scrollable Box Styles */
.scrollable-box {
  width: 80%;
  max-height: 600px;
  overflow-y: scroll;
  border: 1px solid white;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin-top: 20px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  scrollbar-width: thin; /* For Firefox */
}

/* Arrow Styles */
.arrow-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  border: none;
  color: black;
  padding: 20px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
}

/* Positioning Arrows */
.left-arrow {
  left: 20px; /* Adjust this value as needed */
}

.right-arrow {
  right: 20px; /* Adjust this value as needed */
}

/* Image Styles */
.scrollable-box img {
  width: 100%;
  height: auto;
}

/* Button Styles */
.discover-button {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px 100px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 2;
  font-weight: bold;
  text-transform: uppercase;
  background-color: purple;
  letter-spacing: 2px;
  line-height: 1.5;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .landing-page {
      height: auto; /* Allow for flexibility on smaller screens */
  }

  .scrollable-box {
      width: 90%; /* Make the scrollable box wider on smaller screens */
      max-height: 300px; /* Reduce the height of the scrollable box */
  }

  .arrow-button {
      padding: 15px; /* Reduce padding for smaller screens */
  }

  .discover-button {
      padding: 15px 60px; /* Adjust padding for the discover button */
  }
}

@media (max-width: 480px) {
  .arrow-button {
      padding: 10px; /* Further reduce padding for very small screens */
  }

  .discover-button {
      padding: 10px 40px; /* Further adjust padding for the discover button */
  }
}
